body {
    background: #1D0943;
    background: linear-gradient(135deg, #1D0943, #4C154A);
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

h1 {
    color: aliceblue;
    font-weight: bold;
    font-size: 48px;
    padding-top: 20px;
}

input, button {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 0 10px;
}

input:hover, button:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

h2 {
    color: aliceblue;
    font-size: 30px;
    padding-top: 16px;
}

#image, #video {
    width: 30vw;
    height: auto;
    margin-right: 36px;
}

#image:hover {
    scale: 1.05;
    transition: ease-in-out 1s;
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
}

p{
    color: aliceblue;
    font-size: 16px;
    max-width: 40vw;
    text-align: left;
}
#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}